$red                    : #D0021B;
$blue                   : #02A3D0;
$scaleHeight            : 60; // px
$scalePadding           : 5;  // px
$handleSize             : $scaleHeight - ($scalePadding * 2); // px
$scaleRadius            : 50px;
$sine                   : cubic-bezier(0.39, 0.58, 0.57, 1);

/**
	zIndex:
	- image 0
	- value 10
	- scale 20
		• line 0
		• handle 10
	- rate 20
	- done 30
*/

.checkIn {
	position: relative;
	pointer-events: none;
	&-main {
		position: relative;
		max-height: 90vh;
		overflow: hidden;
		background-color: #ddd;
	}
	&-scale {
		position: absolute;
		z-index: 20;
		bottom: 34px;
		right: 12%;
		left: 12%;
		height: $scaleHeight + px;
		background: rgba(0, 0, 0, 0.54);
		transition: opacity 1000ms ease, background-color 1000ms ease;
		padding: 5px;
		&,
		&__inner {
			border-radius: $scaleRadius;
			overflow: hidden;
		}
		&__inner {
			position: relative;
			width: 100%;
			height: 100%;
		}
		&__text {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			top: 0;
			color: white;
			padding: 0 30px;
			line-height: $handleSize + px;
		}
		&__handle {
			display: block;
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 0;
			margin-top: -($handleSize / 2) + px;
			width: $handleSize + px;
			height: $handleSize + px;
			background-color: white;
			border-radius: 50%;
			cursor: pointer;
		}
	}
	&-image {
		position: relative;
		z-index: 0;
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0%;
		background-size: cover;
		max-height: 90vh;
		&::before,
		&::after {
			transition: 1000ms cubic-bezier(0.4, 0, 1, 1);
		}
		&::after {
			content: '';
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			opacity: 0.29;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.38;
		}
	}
	&-button {
		&__wrap {
			min-height: 82px;
			padding: 20px;
			text-align: center;
		}
		display: inline-block;
		background: $blue;
		border: none;
		text-align: center;
		color: white;
		padding: 12px 6px;
		min-width: 120px;
		outline: none;
		transition: 250ms ease;
		cursor: pointer;
		border-radius: 4px;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0);
		&:hover {
			background: lighten($blue, 5%);
		}
		&:active {
			background: darken($blue, 5%);
		}
		&:disabled {
			background: transparentize($blue, 1);
			opacity: 0.5;
			box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0.35);
		}
	}
	&-done {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 30;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: white;
		&__text {
			padding-top: 50px;
			font-size: 72px;
			overflow: hidden;
			padding-left: 0.5em;
			direction: ltr;
			span:not(.percent) {
				display: inline-block;
				transform: translateY(100%);
				opacity: 0;
				transition: 300ms ease-in;
				@for $i from 0 to 5 {
					&:nth-child(#{$i}) {
						transition-delay: $i * 100 + ms;
					}
				}
			}
			.animate & {
				span:not(.percent) {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
	// NOTE: Enable play;
	&.enable-play {
		pointer-events: auto;
		.vote-scale {
			opacity: 1;
		}
		.vote-scale__line {
			background: $blue;
			opacity: 1;
		}
	}
}

@keyframes scaleBounce {
	50% {
		transform: scale(1.35);
	}
}